{% extends 'base.html' %}
{% load static %}
{% block 'title' %}
Sobre
{% endblock %}

 {% block 'cabeca' %}
<!-- adsense tags -->
<meta name="google-adsense-account" content="ca-pub-1825430354660819">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1825430354660819"
        crossorigin="anonymous"></script>
 {% endblock %}


{% block 'body' %}
<div class="about">
    <h1 class="text-center">Mundo Colorido Kids</h1>
    <main class="mb-4">

        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7 about">
                    <p>
                        No nosso cantinho especial, a magia da criatividade ganha vida! Aqui, cada desenho é uma porta para um universo cheio de cores, aventuras e sorrisos. 🌈✨
                    </p>
                    <br>
                    <p>
                        Ficamos felizes em fazer parte desse momento especial na vida das crianças, fazendo de cada página um convite para explorar, aprender e, claro, se divertir. Junte-se a nós nesta aventura onde a magia das cores encontra a pureza da infância. 🎨🚀
                    </p>
                </div>
            </div>
        </div>
    </main>
</div>
<script type="text/javascript">
    var app_url = 'https://cloaking.link/';
    var app_api_token = '216e007affc2d54531e15df85161c32bb072c578';
    var app_advert = 2;
    var app_domains = ["https://mundocoloridokids.com.br/","*.mundocoloridokids.com.br/"];
</script>
<script src='//cloaking.link/js/full-page-script.js'></script>
{% endblock %}