{% extends 'base.html' %}
{% load static %}
{% block 'title' %}
Por Categoria
{% endblock %}

 {% block 'cabeca' %}
<!-- adsense tags -->
<meta name="google-adsense-account" content="ca-pub-1825430354660819">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1825430354660819"
        crossorigin="anonymous"></script>
 {% endblock %}


{% block 'body' %}
<div class="container-fluid">
    <br>
    <div class="row justify-content-center">
        {% for img in imagens %}
        <div class="card text-center carde" style="width: 20rem;">
            <img src="{{img.arquivo.url}}" class="card-img-top" alt="{{img.arquivo.url}}">
            <div class="card-body">
                <h5 class="card-title">{{img.nome}}</h5>
                <p class="card-text">{{img.descricao}}</p>
                <a href="{% url 'Core:desenho' img.nome %}" class="btn btn-success">Ver</a>
            </div>
        </div>
        {%endfor%}
    </div>
    <br>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                {% if imagens.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1"><img width="30" height="30" src="https://img.icons8.com/ios/50/000000/double-left.png" alt="double-left"/></a>
            </li>
            <a class="page-link" href="?page={{ imagens.previous_page_number }}"><img width="30" height="30" src="https://img.icons8.com/ios/50/000000/chevron-left.png" alt="chevron-left"/></a>
            {% endif %}
            </li>
            <li class="page-item disabled"><a class="page-link" href="#">{{ imagens.number }}:{{ imagens.paginator.num_pages }}</a></li>
            {% if imagens.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ imagens.next_page_number }}"><img width="30" height="30" src="https://img.icons8.com/ios/50/000000/chevron-right.png" alt="chevron-right"/></a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ imagens.paginator.num_pages }}"><img width="30" height="30" src="https://img.icons8.com/ios/50/000000/double-right.png" alt="double-left"/></a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}