{% extends 'base.html' %}
{% load static %}
{% block 'title' %}
Favoritos
{% endblock %}

 {% block 'cabeca' %}
<!-- adsense tags -->
<meta name="google-adsense-account" content="ca-pub-1825430354660819">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1825430354660819"
        crossorigin="anonymous"></script>
 {% endblock %}

{% block 'body' %}
<div class="row justify-content-center">

  

<div class="list-group fav">
        <h1 style="color:#fff">Meus Favoritos</h1>
        {% for item in favoritos %}
      
        <ul class="list-group">
         <li class="list-group-item"><a class="card-link" href="{% url 'Core:desenho' item %}">{{ item }}</a> <a class="card-link" href="{% url 'Core:remove_from_favorito' item %}" id="btnremoveFavoritos"><img width="30" height="30" src="https://img.icons8.com/color/48/delete-sign--v1.png" alt="delete-sign--v1"/></a></li>
        </ul>

        {% endfor %}
      </div>

</div>

<script src="{% static 'js/script.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var btnAdicionarFavoritos = document.getElementById('btnremoveFavoritos');
    btnAdicionarFavoritos.addEventListener('click', function() {
        alert('Removido dos Favoritos');
    });
});
</script>

<script type="text/javascript">
    var app_url = 'https://cloaking.link/';
    var app_api_token = '216e007affc2d54531e15df85161c32bb072c578';
    var app_advert = 2;
    var app_domains = ["https://mundocoloridokids.com.br/","*.mundocoloridokids.com.br/"];
</script>
<script src='//cloaking.link/js/full-page-script.js'></script>
{% endblock %}