{% extends 'base.html' %}
{% load static %}

{% block 'title' %}
Pagina inicial
{% endblock %}

 {% block 'cabeca' %}
<meta name="google-adsense-account" content="ca-pub-1825430354660819">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1825430354660819"
        crossorigin="anonymous"></script>
 {% endblock %}


{% block 'body' %}
<div class="container-fluid">
    <br>
    <div class="row justify-content-center">
        {% for img in imagens %}
        <div class="card text-center carde" style="width: 20rem;">
            <span class="badge badge-danger">Novo</span>
            <img src="{{img.arquivo.url}}" class="card-img-top" alt="{{img.arquivo.url}}">
            <div class="card-body">
                <h5 class="card-title">{{img.nome}}</h5>
                <p class="card-text">{{img.descricao}}</p>
                <a href="{% url 'Core:desenho' img.nome %}" class="btn btn-success">Ver</a>
            </div>
        </div>
        {%endfor%}
    </div>
    <br>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if imagens.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ imagens.previous_page_number }}">Voltar</a></li>
          {% endif %}
          <li class="page-item"><a class="page-link" href="#">{{ imagens.number }}:{{ imagens.paginator.num_pages }}</a></li>
          {% if imagens.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ imagens.next_page_number }}">Proximo</a></li>
          {% endif %}
        </ul>
      </nav>
</div>
<script src="{% static 'js/script.js' %}"></script>

{% endblock %}