:root {
  --azul-celeste: #1E90FF;
  --amarelo-sol:#f49e12;
  --bage:#c5c5c5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.navbar-color{
  background-color: var(--azul-celeste);
  color: var(--amarelo-sol);
  font-size:larger;
  font-weight: bold;
}

.nav-link{
  color: var(--amarelo-sol);
}

.nav-link:focus, .nav-link:hover{
  color: var(--bage);
}

.filiado{
  text-align: center;
  font-weight: bold;
  color: var(--amarelo-sol);
}

a {
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
