:root {
  --azul-celeste: #1E90FF;
  --amarelo-sol:#f49e12;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
