:root {
    --azul-celeste: #1E90FF;
    --amarelo-sol:#f49e12;
    --bage:#737171;
    --agua-marinha:#7fffd4;
    --branco:#fff;
  }
  
  @font-face {
    font-family:'minhafonte';
    src:url("../css/font/Find\ Cartoon.otf");
}
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: minhafonte;
    font-size:medium;
    font-weight:normal;
    height: 100vh;
    line-height: var(--bs-body-line-height);
    background-color: var(--azul-celeste);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
.politica{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #fff;
}

.destaque{
  font-weight: bold;
  font-size: large;
}

  .about{
    color: var(--branco);
  }
  
  .selector-for-some-widget {
    box-sizing: content-box;
  }
  
  .navbar-color{
    background-color: var(--branco);
    color: var(--azul-celeste);
    font-size:larger;
    font-weight: bold;
  }
  
  .nav-link{
    color: var(--azul-celeste);
  }
  
  .nav-link:focus, .nav-link:hover{
    color: var(--bage);
  }
  
  .titulo{
    font-family: cursive;
    font-weight: bold;
    color: #fff;
  
  }
  
  .filiado{
    text-align: center;
    font-weight: bold;
    color: var(--bage);
  }
  
  a {
    text-decoration: none;
    color:var(--amarelo-sol);
  }
  

  .carde {
    margin: 8px;
  }
  .tmg {
    max-height: 150px;
    width: auto;
  }
  
.pagination{
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center;
}

.cookie-popup {
  font-family: Arial, Helvetica, sans-serif;
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 15px;
  background-color: #fff;
  color: #575757;
  text-align: center;
  border-radius: 8px;
  margin: 20px;
  width: 95%;
  align-content: center;
  box-shadow: 1em 0.5em 1em;
}

#cookie-accept {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

  @media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth;
    }
  }
  